version: "3.8"

services:
  redis:
    image: redis:8
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    ports:
      - "6379:6379"
    volumes:
      - ./redis-data:/data
      - ./redis-conf:/usr/local/etc/redis/redis.conf:ro
    environment:
      - TZ=UTC
    restart: unless-stopped
    networks:
      - integrity_net

  db:
    image: postgis:17-alpine
    container_name: integrity_db_dev
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: integritydb
    ports:
      - "5432:5432"
    volumes:
      - db_data_dev:/var/lib/postgresql/data
    networks:
      - integrity_net

  backend:
    build:
      context: ..
      dockerfile: backend/Dockerfile
      ssh:
       - default=C:/Users/Administrator/.ssh/integrity_protos
    container_name: integrity_backend
    depends_on:
      - redis
      - db
      - reportserv
      - predictionserv
    ports:
      - "8080:8080"
    networks:
      - integrity_net

  reportserv:
    build:
      context: ../ml_services/report_service
      dockerfile: Dockerfile
    container_name: integrity_reports
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    ports:
      - "9080:9080"
    volumes:
      - ../integrity_protos:/app/integrity_protos
    networks:
      - integrity_net

  predictionserv:
    build:
      context: ../ml_services/prediction_service
      dockerfile: Dockerfile
    container_name: integrity_prediction
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    ports:
      - "9081:9081"
    volumes:
      - ../integrity_protos:/app/integrity_protos
    networks:
      - integrity_net

networks:
  integrity_net:
    driver: bridge

volumes:
  db_data_dev:
